<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>310000</key>
	<dict>
		<key>city_name</key>
		<string>上海</string>
		<key>district</key>
		<array>
			<dict>
				<key>bizcircle</key>
				<array>
					<dict>
						<key>name</key>
						<string>曹家渡</string>
						<key>value</key>
						<string>611100418</string>
					</dict>
					<dict>
						<key>name</key>
						<string>江宁路</string>
						<key>value</key>
						<string>611100417</string>
					</dict>
					<dict>
						<key>name</key>
						<string>静安寺</string>
						<key>value</key>
						<string>613000289</string>
					</dict>
					<dict>
						<key>name</key>
						<string>南京西路</string>
						<key>value</key>
						<string>611100419</string>
					</dict>
				</array>
				<key>name</key>
				<string>静安</string>
				<key>value</key>
				<string>310106</string>
			</dict>
			<dict>
				<key>bizcircle</key>
				<array>
					<dict>
						<key>name</key>
						<string>漕河泾</string>
						<key>value</key>
						<string>613000342</string>
					</dict>
					<dict>
						<key>name</key>
						<string>长桥</string>
						<key>value</key>
						<string>611900103</string>
					</dict>
					<dict>
						<key>name</key>
						<string>衡山路</string>
						<key>value</key>
						<string>611900097</string>
					</dict>
					<dict>
						<key>name</key>
						<string>华东理工</string>
						<key>value</key>
						<string>611900104</string>
					</dict>
					<dict>
						<key>name</key>
						<string>华泾</string>
						<key>value</key>
						<string>611100124</string>
					</dict>
					<dict>
						<key>name</key>
						<string>建国西路</string>
						<key>value</key>
						<string>611900099</string>
					</dict>
					<dict>
						<key>name</key>
						<string>康健</string>
						<key>value</key>
						<string>613000343</string>
					</dict>
					<dict>
						<key>name</key>
						<string>龙华</string>
						<key>value</key>
						<string>611100125</string>
					</dict>
					<dict>
						<key>name</key>
						<string>上海南站</string>
						<key>value</key>
						<string>613000344</string>
					</dict>
					<dict>
						<key>name</key>
						<string>田林</string>
						<key>value</key>
						<string>611100127</string>
					</dict>
					<dict>
						<key>name</key>
						<string>万体馆</string>
						<key>value</key>
						<string>611900100</string>
					</dict>
					<dict>
						<key>name</key>
						<string>斜土路</string>
						<key>value</key>
						<string>611900098</string>
					</dict>
					<dict>
						<key>name</key>
						<string>徐汇滨江</string>
						<key>value</key>
						<string>611100128</string>
					</dict>
					<dict>
						<key>name</key>
						<string>徐家汇</string>
						<key>value</key>
						<string>613000345</string>
					</dict>
					<dict>
						<key>name</key>
						<string>植物园</string>
						<key>value</key>
						<string>611900102</string>
					</dict>
				</array>
				<key>name</key>
				<string>徐汇</string>
				<key>value</key>
				<string>310104</string>
			</dict>
			<dict>
				<key>bizcircle</key>
				<array>
					<dict>
						<key>name</key>
						<string>打浦桥</string>
						<key>value</key>
						<string>611100441</string>
					</dict>
					<dict>
						<key>name</key>
						<string>董家渡</string>
						<key>value</key>
						<string>611900038</string>
					</dict>
					<dict>
						<key>name</key>
						<string>淮海中路</string>
						<key>value</key>
						<string>611900062</string>
					</dict>
					<dict>
						<key>name</key>
						<string>黄浦滨江</string>
						<key>value</key>
						<string>613000265</string>
					</dict>
					<dict>
						<key>name</key>
						<string>老西门</string>
						<key>value</key>
						<string>611100456</string>
					</dict>
					<dict>
						<key>name</key>
						<string>南京东路</string>
						<key>value</key>
						<string>611900036</string>
					</dict>
					<dict>
						<key>name</key>
						<string>蓬莱公园</string>
						<key>value</key>
						<string>611900037</string>
					</dict>
					<dict>
						<key>name</key>
						<string>人民广场</string>
						<key>value</key>
						<string>611100457</string>
					</dict>
					<dict>
						<key>name</key>
						<string>世博滨江</string>
						<key>value</key>
						<string>611900063</string>
					</dict>
					<dict>
						<key>name</key>
						<string>五里桥</string>
						<key>value</key>
						<string>611900061</string>
					</dict>
					<dict>
						<key>name</key>
						<string>新天地</string>
						<key>value</key>
						<string>611900060</string>
					</dict>
					<dict>
						<key>name</key>
						<string>豫园</string>
						<key>value</key>
						<string>611900039</string>
					</dict>
				</array>
				<key>name</key>
				<string>黄浦</string>
				<key>value</key>
				<string>310101</string>
			</dict>
			<dict>
				<key>bizcircle</key>
				<array>
					<dict>
						<key>name</key>
						<string>北新泾</string>
						<key>value</key>
						<string>611900013</string>
					</dict>
					<dict>
						<key>name</key>
						<string>古北</string>
						<key>value</key>
						<string>611100407</string>
					</dict>
					<dict>
						<key>name</key>
						<string>虹桥</string>
						<key>value</key>
						<string>611100408</string>
					</dict>
					<dict>
						<key>name</key>
						<string>天山</string>
						<key>value</key>
						<string>611900011</string>
					</dict>
					<dict>
						<key>name</key>
						<string>仙霞</string>
						<key>value</key>
						<string>613000350</string>
					</dict>
					<dict>
						<key>name</key>
						<string>西郊</string>
						<key>value</key>
						<string>611100409</string>
					</dict>
					<dict>
						<key>name</key>
						<string>新华路</string>
						<key>value</key>
						<string>611100410</string>
					</dict>
					<dict>
						<key>name</key>
						<string>镇宁路</string>
						<key>value</key>
						<string>611900014</string>
					</dict>
					<dict>
						<key>name</key>
						<string>中山公园</string>
						<key>value</key>
						<string>611100411</string>
					</dict>
				</array>
				<key>name</key>
				<string>长宁</string>
				<key>value</key>
				<string>310105</string>
			</dict>
			<dict>
				<key>bizcircle</key>
				<array>
					<dict>
						<key>name</key>
						<string>曹杨</string>
						<key>value</key>
						<string>611100369</string>
					</dict>
					<dict>
						<key>name</key>
						<string>长风</string>
						<key>value</key>
						<string>613000319</string>
					</dict>
					<dict>
						<key>name</key>
						<string>长寿路</string>
						<key>value</key>
						<string>613000320</string>
					</dict>
					<dict>
						<key>name</key>
						<string>长征</string>
						<key>value</key>
						<string>611100370</string>
					</dict>
					<dict>
						<key>name</key>
						<string>甘泉宜川</string>
						<key>value</key>
						<string>613000318</string>
					</dict>
					<dict>
						<key>name</key>
						<string>光新</string>
						<key>value</key>
						<string>611100415</string>
					</dict>
					<dict>
						<key>name</key>
						<string>桃浦</string>
						<key>value</key>
						<string>611100373</string>
					</dict>
					<dict>
						<key>name</key>
						<string>万里</string>
						<key>value</key>
						<string>611100375</string>
					</dict>
					<dict>
						<key>name</key>
						<string>武宁</string>
						<key>value</key>
						<string>611100416</string>
					</dict>
					<dict>
						<key>name</key>
						<string>真光</string>
						<key>value</key>
						<string>613000321</string>
					</dict>
					<dict>
						<key>name</key>
						<string>真如</string>
						<key>value</key>
						<string>611100371</string>
					</dict>
					<dict>
						<key>name</key>
						<string>中远两湾城</string>
						<key>value</key>
						<string>613000322</string>
					</dict>
				</array>
				<key>name</key>
				<string>普陀</string>
				<key>value</key>
				<string>310107</string>
			</dict>
			<dict>
				<key>bizcircle</key>
				<array>
					<dict>
						<key>name</key>
						<string>北蔡</string>
						<key>value</key>
						<string>611900123</string>
					</dict>
					<dict>
						<key>name</key>
						<string>碧云</string>
						<key>value</key>
						<string>613000290</string>
					</dict>
					<dict>
						<key>name</key>
						<string>曹路</string>
						<key>value</key>
						<string>613000291</string>
					</dict>
					<dict>
						<key>name</key>
						<string>川沙</string>
						<key>value</key>
						<string>613000292</string>
					</dict>
					<dict>
						<key>name</key>
						<string>大团镇</string>
						<key>value</key>
						<string>613000293</string>
					</dict>
					<dict>
						<key>name</key>
						<string>高东</string>
						<key>value</key>
						<string>613000294</string>
					</dict>
					<dict>
						<key>name</key>
						<string>高行</string>
						<key>value</key>
						<string>613000295</string>
					</dict>
					<dict>
						<key>name</key>
						<string>合庆</string>
						<key>value</key>
						<string>613000297</string>
					</dict>
					<dict>
						<key>name</key>
						<string>航头</string>
						<key>value</key>
						<string>613000296</string>
					</dict>
					<dict>
						<key>name</key>
						<string>花木</string>
						<key>value</key>
						<string>611900130</string>
					</dict>
					<dict>
						<key>name</key>
						<string>惠南</string>
						<key>value</key>
						<string>613000298</string>
					</dict>
					<dict>
						<key>name</key>
						<string>金桥</string>
						<key>value</key>
						<string>611900131</string>
					</dict>
					<dict>
						<key>name</key>
						<string>金杨</string>
						<key>value</key>
						<string>613000299</string>
					</dict>
					<dict>
						<key>name</key>
						<string>康桥</string>
						<key>value</key>
						<string>613000300</string>
					</dict>
					<dict>
						<key>name</key>
						<string>老港镇</string>
						<key>value</key>
						<string>613000301</string>
					</dict>
					<dict>
						<key>name</key>
						<string>联洋</string>
						<key>value</key>
						<string>613000302</string>
					</dict>
					<dict>
						<key>name</key>
						<string>临港新城</string>
						<key>value</key>
						<string>613000303</string>
					</dict>
					<dict>
						<key>name</key>
						<string>陆家嘴</string>
						<key>value</key>
						<string>611900136</string>
					</dict>
					<dict>
						<key>name</key>
						<string>南码头</string>
						<key>value</key>
						<string>613000304</string>
					</dict>
					<dict>
						<key>name</key>
						<string>泥城镇</string>
						<key>value</key>
						<string>613000305</string>
					</dict>
					<dict>
						<key>name</key>
						<string>三林</string>
						<key>value</key>
						<string>611900138</string>
					</dict>
					<dict>
						<key>name</key>
						<string>世博</string>
						<key>value</key>
						<string>611900139</string>
					</dict>
					<dict>
						<key>name</key>
						<string>书院镇</string>
						<key>value</key>
						<string>613000307</string>
					</dict>
					<dict>
						<key>name</key>
						<string>塘桥</string>
						<key>value</key>
						<string>611900141</string>
					</dict>
					<dict>
						<key>name</key>
						<string>唐镇</string>
						<key>value</key>
						<string>613000308</string>
					</dict>
					<dict>
						<key>name</key>
						<string>外高桥</string>
						<key>value</key>
						<string>611900143</string>
					</dict>
					<dict>
						<key>name</key>
						<string>万祥镇</string>
						<key>value</key>
						<string>613000309</string>
					</dict>
					<dict>
						<key>name</key>
						<string>潍坊</string>
						<key>value</key>
						<string>613000310</string>
					</dict>
					<dict>
						<key>name</key>
						<string>新场</string>
						<key>value</key>
						<string>613000311</string>
					</dict>
					<dict>
						<key>name</key>
						<string>宣桥</string>
						<key>value</key>
						<string>613000312</string>
					</dict>
					<dict>
						<key>name</key>
						<string>杨东</string>
						<key>value</key>
						<string>613000313</string>
					</dict>
					<dict>
						<key>name</key>
						<string>洋泾</string>
						<key>value</key>
						<string>613000314</string>
					</dict>
					<dict>
						<key>name</key>
						<string>源深</string>
						<key>value</key>
						<string>613000315</string>
					</dict>
					<dict>
						<key>name</key>
						<string>御桥</string>
						<key>value</key>
						<string>611101108</string>
					</dict>
					<dict>
						<key>name</key>
						<string>张江</string>
						<key>value</key>
						<string>611900148</string>
					</dict>
					<dict>
						<key>name</key>
						<string>周浦</string>
						<key>value</key>
						<string>613000316</string>
					</dict>
					<dict>
						<key>name</key>
						<string>祝桥</string>
						<key>value</key>
						<string>613000317</string>
					</dict>
				</array>
				<key>name</key>
				<string>浦东</string>
				<key>value</key>
				<string>310115</string>
			</dict>
			<dict>
				<key>bizcircle</key>
				<array>
					<dict>
						<key>name</key>
						<string>大场镇</string>
						<key>value</key>
						<string>613000245</string>
					</dict>
					<dict>
						<key>name</key>
						<string>大华</string>
						<key>value</key>
						<string>611100420</string>
					</dict>
					<dict>
						<key>name</key>
						<string>高境</string>
						<key>value</key>
						<string>613000246</string>
					</dict>
					<dict>
						<key>name</key>
						<string>共富</string>
						<key>value</key>
						<string>611900008</string>
					</dict>
					<dict>
						<key>name</key>
						<string>共康</string>
						<key>value</key>
						<string>611900003</string>
					</dict>
					<dict>
						<key>name</key>
						<string>顾村</string>
						<key>value</key>
						<string>613000247</string>
					</dict>
					<dict>
						<key>name</key>
						<string>罗店</string>
						<key>value</key>
						<string>613000248</string>
					</dict>
					<dict>
						<key>name</key>
						<string>罗泾</string>
						<key>value</key>
						<string>613000249</string>
					</dict>
					<dict>
						<key>name</key>
						<string>上大</string>
						<key>value</key>
						<string>613000250</string>
					</dict>
					<dict>
						<key>name</key>
						<string>淞宝</string>
						<key>value</key>
						<string>611100426</string>
					</dict>
					<dict>
						<key>name</key>
						<string>淞南</string>
						<key>value</key>
						<string>613000251</string>
					</dict>
					<dict>
						<key>name</key>
						<string>通河</string>
						<key>value</key>
						<string>611900001</string>
					</dict>
					<dict>
						<key>name</key>
						<string>万里</string>
						<key>value</key>
						<string>611100375</string>
					</dict>
					<dict>
						<key>name</key>
						<string>杨行</string>
						<key>value</key>
						<string>613000252</string>
					</dict>
					<dict>
						<key>name</key>
						<string>月浦</string>
						<key>value</key>
						<string>613000253</string>
					</dict>
					<dict>
						<key>name</key>
						<string>张庙</string>
						<key>value</key>
						<string>613000254</string>
					</dict>
				</array>
				<key>name</key>
				<string>宝山</string>
				<key>value</key>
				<string>310113</string>
			</dict>
			<dict>
				<key>bizcircle</key>
				<array>
					<dict>
						<key>name</key>
						<string>不夜城</string>
						<key>value</key>
						<string>611900117</string>
					</dict>
					<dict>
						<key>name</key>
						<string>大宁</string>
						<key>value</key>
						<string>611900116</string>
					</dict>
					<dict>
						<key>name</key>
						<string>彭浦</string>
						<key>value</key>
						<string>611100430</string>
					</dict>
					<dict>
						<key>name</key>
						<string>西藏北路</string>
						<key>value</key>
						<string>611900118</string>
					</dict>
					<dict>
						<key>name</key>
						<string>阳城</string>
						<key>value</key>
						<string>613000348</string>
					</dict>
					<dict>
						<key>name</key>
						<string>永和</string>
						<key>value</key>
						<string>611900121</string>
					</dict>
					<dict>
						<key>name</key>
						<string>闸北公园</string>
						<key>value</key>
						<string>613000349</string>
					</dict>
				</array>
				<key>name</key>
				<string>闸北</string>
				<key>value</key>
				<string>310108</string>
			</dict>
			<dict>
				<key>bizcircle</key>
				<array>
					<dict>
						<key>name</key>
						<string>北外滩</string>
						<key>value</key>
						<string>611900028</string>
					</dict>
					<dict>
						<key>name</key>
						<string>江湾镇</string>
						<key>value</key>
						<string>613000263</string>
					</dict>
					<dict>
						<key>name</key>
						<string>凉城</string>
						<key>value</key>
						<string>611900029</string>
					</dict>
					<dict>
						<key>name</key>
						<string>临平路</string>
						<key>value</key>
						<string>611900031</string>
					</dict>
					<dict>
						<key>name</key>
						<string>鲁迅公园</string>
						<key>value</key>
						<string>613000264</string>
					</dict>
					<dict>
						<key>name</key>
						<string>曲阳</string>
						<key>value</key>
						<string>611900033</string>
					</dict>
					<dict>
						<key>name</key>
						<string>四川北路</string>
						<key>value</key>
						<string>611900030</string>
					</dict>
				</array>
				<key>name</key>
				<string>虹口</string>
				<key>value</key>
				<string>310109</string>
			</dict>
			<dict>
				<key>bizcircle</key>
				<array>
					<dict>
						<key>name</key>
						<string>鞍山</string>
						<key>value</key>
						<string>611900108</string>
					</dict>
					<dict>
						<key>name</key>
						<string>东外滩</string>
						<key>value</key>
						<string>611900106</string>
					</dict>
					<dict>
						<key>name</key>
						<string>黄兴公园</string>
						<key>value</key>
						<string>611900107</string>
					</dict>
					<dict>
						<key>name</key>
						<string>控江路</string>
						<key>value</key>
						<string>613000346</string>
					</dict>
					<dict>
						<key>name</key>
						<string>五角场</string>
						<key>value</key>
						<string>611900110</string>
					</dict>
					<dict>
						<key>name</key>
						<string>新江湾城</string>
						<key>value</key>
						<string>611900111</string>
					</dict>
					<dict>
						<key>name</key>
						<string>中原</string>
						<key>value</key>
						<string>611900112</string>
					</dict>
					<dict>
						<key>name</key>
						<string>周家嘴路</string>
						<key>value</key>
						<string>611900109</string>
					</dict>
				</array>
				<key>name</key>
				<string>杨浦</string>
				<key>value</key>
				<string>310110</string>
			</dict>
			<dict>
				<key>bizcircle</key>
				<array>
					<dict>
						<key>name</key>
						<string>春申</string>
						<key>value</key>
						<string>611900064</string>
					</dict>
					<dict>
						<key>name</key>
						<string>古美</string>
						<key>value</key>
						<string>611900068</string>
					</dict>
					<dict>
						<key>name</key>
						<string>航华</string>
						<key>value</key>
						<string>611900069</string>
					</dict>
					<dict>
						<key>name</key>
						<string>华漕</string>
						<key>value</key>
						<string>611100113</string>
					</dict>
					<dict>
						<key>name</key>
						<string>静安新城</string>
						<key>value</key>
						<string>611900071</string>
					</dict>
					<dict>
						<key>name</key>
						<string>金虹桥</string>
						<key>value</key>
						<string>611100115</string>
					</dict>
					<dict>
						<key>name</key>
						<string>金汇</string>
						<key>value</key>
						<string>611900067</string>
					</dict>
					<dict>
						<key>name</key>
						<string>老闵行</string>
						<key>value</key>
						<string>611900065</string>
					</dict>
					<dict>
						<key>name</key>
						<string>龙柏</string>
						<key>value</key>
						<string>611900073</string>
					</dict>
					<dict>
						<key>name</key>
						<string>马桥</string>
						<key>value</key>
						<string>611100116</string>
					</dict>
					<dict>
						<key>name</key>
						<string>梅陇</string>
						<key>value</key>
						<string>611900070</string>
					</dict>
					<dict>
						<key>name</key>
						<string>浦江</string>
						<key>value</key>
						<string>611100118</string>
					</dict>
					<dict>
						<key>name</key>
						<string>七宝</string>
						<key>value</key>
						<string>611100119</string>
					</dict>
					<dict>
						<key>name</key>
						<string>莘庄</string>
						<key>value</key>
						<string>611100121</string>
					</dict>
					<dict>
						<key>name</key>
						<string>吴泾</string>
						<key>value</key>
						<string>611100120</string>
					</dict>
					<dict>
						<key>name</key>
						<string>颛桥</string>
						<key>value</key>
						<string>611100122</string>
					</dict>
				</array>
				<key>name</key>
				<string>闵行</string>
				<key>value</key>
				<string>310112</string>
			</dict>
			<dict>
				<key>bizcircle</key>
				<array>
					<dict>
						<key>name</key>
						<string>漕泾</string>
						<key>value</key>
						<string>613000279</string>
					</dict>
					<dict>
						<key>name</key>
						<string>枫泾</string>
						<key>value</key>
						<string>613000280</string>
					</dict>
					<dict>
						<key>name</key>
						<string>金山</string>
						<key>value</key>
						<string>613000281</string>
					</dict>
					<dict>
						<key>name</key>
						<string>廊下</string>
						<key>value</key>
						<string>613000282</string>
					</dict>
					<dict>
						<key>name</key>
						<string>吕巷</string>
						<key>value</key>
						<string>613000283</string>
					</dict>
					<dict>
						<key>name</key>
						<string>山阳</string>
						<key>value</key>
						<string>613000284</string>
					</dict>
					<dict>
						<key>name</key>
						<string>石化</string>
						<key>value</key>
						<string>613000285</string>
					</dict>
					<dict>
						<key>name</key>
						<string>亭林</string>
						<key>value</key>
						<string>613000286</string>
					</dict>
					<dict>
						<key>name</key>
						<string>张堰</string>
						<key>value</key>
						<string>613000287</string>
					</dict>
					<dict>
						<key>name</key>
						<string>朱泾</string>
						<key>value</key>
						<string>613000288</string>
					</dict>
				</array>
				<key>name</key>
				<string>金山</string>
				<key>value</key>
				<string>310116</string>
			</dict>
			<dict>
				<key>bizcircle</key>
				<array>
					<dict>
						<key>name</key>
						<string>安亭</string>
						<key>value</key>
						<string>613000267</string>
					</dict>
					<dict>
						<key>name</key>
						<string>丰庄</string>
						<key>value</key>
						<string>613000268</string>
					</dict>
					<dict>
						<key>name</key>
						<string>华亭</string>
						<key>value</key>
						<string>613000269</string>
					</dict>
					<dict>
						<key>name</key>
						<string>嘉定工业区</string>
						<key>value</key>
						<string>613000270</string>
					</dict>
					<dict>
						<key>name</key>
						<string>嘉定新城</string>
						<key>value</key>
						<string>613000271</string>
					</dict>
					<dict>
						<key>name</key>
						<string>江桥</string>
						<key>value</key>
						<string>613000272</string>
					</dict>
					<dict>
						<key>name</key>
						<string>菊园新区</string>
						<key>value</key>
						<string>613000273</string>
					</dict>
					<dict>
						<key>name</key>
						<string>马陆</string>
						<key>value</key>
						<string>613000274</string>
					</dict>
					<dict>
						<key>name</key>
						<string>南翔</string>
						<key>value</key>
						<string>613000275</string>
					</dict>
					<dict>
						<key>name</key>
						<string>外冈</string>
						<key>value</key>
						<string>613000276</string>
					</dict>
					<dict>
						<key>name</key>
						<string>新成路</string>
						<key>value</key>
						<string>613000389</string>
					</dict>
					<dict>
						<key>name</key>
						<string>徐行</string>
						<key>value</key>
						<string>613000278</string>
					</dict>
				</array>
				<key>name</key>
				<string>嘉定</string>
				<key>value</key>
				<string>310114</string>
			</dict>
			<dict>
				<key>bizcircle</key>
				<array>
					<dict>
						<key>name</key>
						<string>堡镇</string>
						<key>value</key>
						<string>613000351</string>
					</dict>
					<dict>
						<key>name</key>
						<string>长兴岛</string>
						<key>value</key>
						<string>613000360</string>
					</dict>
					<dict>
						<key>name</key>
						<string>陈家镇</string>
						<key>value</key>
						<string>613000357</string>
					</dict>
					<dict>
						<key>name</key>
						<string>崇明其它</string>
						<key>value</key>
						<string>613000358</string>
					</dict>
					<dict>
						<key>name</key>
						<string>崇明新城</string>
						<key>value</key>
						<string>613000359</string>
					</dict>
					<dict>
						<key>name</key>
						<string>横沙岛</string>
						<key>value</key>
						<string>1100000344</string>
					</dict>
				</array>
				<key>name</key>
				<string>崇明</string>
				<key>value</key>
				<string>310230</string>
			</dict>
			<dict>
				<key>bizcircle</key>
				<array>
					<dict>
						<key>name</key>
						<string>奉城</string>
						<key>value</key>
						<string>613000256</string>
					</dict>
					<dict>
						<key>name</key>
						<string>奉贤金汇</string>
						<key>value</key>
						<string>613000255</string>
					</dict>
					<dict>
						<key>name</key>
						<string>海湾</string>
						<key>value</key>
						<string>613000257</string>
					</dict>
					<dict>
						<key>name</key>
						<string>南桥</string>
						<key>value</key>
						<string>613000258</string>
					</dict>
					<dict>
						<key>name</key>
						<string>青村</string>
						<key>value</key>
						<string>613000259</string>
					</dict>
					<dict>
						<key>name</key>
						<string>四团</string>
						<key>value</key>
						<string>613000260</string>
					</dict>
					<dict>
						<key>name</key>
						<string>西渡</string>
						<key>value</key>
						<string>611101107</string>
					</dict>
					<dict>
						<key>name</key>
						<string>柘林</string>
						<key>value</key>
						<string>613000261</string>
					</dict>
					<dict>
						<key>name</key>
						<string>庄行</string>
						<key>value</key>
						<string>613000262</string>
					</dict>
				</array>
				<key>name</key>
				<string>奉贤</string>
				<key>value</key>
				<string>310120</string>
			</dict>
			<dict>
				<key>bizcircle</key>
				<array>
					<dict>
						<key>name</key>
						<string>车墩</string>
						<key>value</key>
						<string>613000332</string>
					</dict>
					<dict>
						<key>name</key>
						<string>九亭</string>
						<key>value</key>
						<string>611100449</string>
					</dict>
					<dict>
						<key>name</key>
						<string>泖港</string>
						<key>value</key>
						<string>613000333</string>
					</dict>
					<dict>
						<key>name</key>
						<string>莘闵别墅</string>
						<key>value</key>
						<string>613000334</string>
					</dict>
					<dict>
						<key>name</key>
						<string>佘山</string>
						<key>value</key>
						<string>611100450</string>
					</dict>
					<dict>
						<key>name</key>
						<string>石湖荡</string>
						<key>value</key>
						<string>613000335</string>
					</dict>
					<dict>
						<key>name</key>
						<string>泗泾</string>
						<key>value</key>
						<string>613000336</string>
					</dict>
					<dict>
						<key>name</key>
						<string>松江大学城</string>
						<key>value</key>
						<string>613000337</string>
					</dict>
					<dict>
						<key>name</key>
						<string>松江老城</string>
						<key>value</key>
						<string>613000338</string>
					</dict>
					<dict>
						<key>name</key>
						<string>松江新城</string>
						<key>value</key>
						<string>611100452</string>
					</dict>
					<dict>
						<key>name</key>
						<string>小昆山</string>
						<key>value</key>
						<string>613000339</string>
					</dict>
					<dict>
						<key>name</key>
						<string>新浜</string>
						<key>value</key>
						<string>613000340</string>
					</dict>
					<dict>
						<key>name</key>
						<string>新桥</string>
						<key>value</key>
						<string>611100454</string>
					</dict>
					<dict>
						<key>name</key>
						<string>叶榭</string>
						<key>value</key>
						<string>613000341</string>
					</dict>
				</array>
				<key>name</key>
				<string>松江</string>
				<key>value</key>
				<string>310117</string>
			</dict>
			<dict>
				<key>bizcircle</key>
				<array>
					<dict>
						<key>name</key>
						<string>白鹤</string>
						<key>value</key>
						<string>613000323</string>
					</dict>
					<dict>
						<key>name</key>
						<string>重固</string>
						<key>value</key>
						<string>613000330</string>
					</dict>
					<dict>
						<key>name</key>
						<string>华新</string>
						<key>value</key>
						<string>613000324</string>
					</dict>
					<dict>
						<key>name</key>
						<string>香花桥</string>
						<key>value</key>
						<string>613000326</string>
					</dict>
					<dict>
						<key>name</key>
						<string>夏阳</string>
						<key>value</key>
						<string>613000325</string>
					</dict>
					<dict>
						<key>name</key>
						<string>徐泾</string>
						<key>value</key>
						<string>613000327</string>
					</dict>
					<dict>
						<key>name</key>
						<string>盈浦</string>
						<key>value</key>
						<string>613000328</string>
					</dict>
					<dict>
						<key>name</key>
						<string>赵巷</string>
						<key>value</key>
						<string>613000329</string>
					</dict>
					<dict>
						<key>name</key>
						<string>朱家角</string>
						<key>value</key>
						<string>613000331</string>
					</dict>
				</array>
				<key>name</key>
				<string>青浦</string>
				<key>value</key>
				<string>310118</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
