<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ALAssetDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>AppPaydemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>BlueServer.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Blueclient.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>CoreDataDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>CoreMotionDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>GCDDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>GPSSpeed.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>HomePageDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>IFontDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>MantleDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>PlistToTxt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>RadarParty.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>RemoveTextFieldGestures.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>ResponderDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>SSLExpiration.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>SignLetionDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>SocketDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>WeChatPayDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>512003111C5AF7CC0072C079</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>512BE6FA1C86C3E10001FC9F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>514C58BC1C33AE110079C5F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>514C58DE1C33BB5F0079C5F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>514C58FB1C33C3F50079C5F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>514C59171C33D02D0079C5F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>514C59341C352C250079C5F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>514C59511C37AB540079C5F2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>515EB3641C3F41AD00844AD2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51950A801C32299500356F33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51950B371C3366EF00356F33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51AB4E921C735EBB007D5F17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51AB4EC81C76FCB1007D5F17</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51D7ECDD1C3A10430064548C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51D7ECFF1C3A6DAB0064548C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D022AC201CB36B8B0039D88B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D05FD0681CD993F500D0355D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0A1F3061C9FF0FF00C4D506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0A1F31E1C9FF0FF00C4D506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0A1F3291C9FF0FF00C4D506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D0A1F3961CA2853A00C4D506</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
